*{
  background-color: slateblue important;
}

.heading{
  background-color: rgb(165, 158, 211);
  padding: 20px;
  font-weight: bold;
  font-size: larger;
  color: azure;
}

.gameboard{
  background-color: rgb(239, 235, 243);
  height: 80vh;
  border-radius: 5%;
}


.square{
  height: 33.3%;
  width: 33.3%;
}

.bt{
  border-top: solid rgb(169, 143, 194) 5px;
}

.bb{
  border-bottom: solid rgb(169, 143, 194) 5px;
}

.bsb{
  border-left: solid rgb(169, 143, 194) 5px;
  border-right:  solid rgb(169, 143, 194) 5px;
}

.x10{
  font-size: 5rem;
  color: rgb(75, 60, 95);
}